---
layout: default
title: Archive
---

<div>

  <h2>归档 Archive</h2>

  <section class="archive_list">
    <!--
    {% for category in site.categories %}

    <div class="category-name">
      <h2>{{ category | first }}</h2>
    </div>
    {% for post in category.last %}

    <div class="post_title">
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a>
      <span class="date">{{ post.date | date: "%-d %b, %Y" }}</span>
    </div>

    {% endfor %}

    {% endfor %}

  </section>
  -->

  {% for post in site.posts limit:100 -%}
  {%- capture post_year %}{{ post.date | date: "%Y" }}{% endcapture -%}
  {%- capture post_previous_year %}{{ post.previous.date | date: "%Y" }}{% endcapture -%}
  {%- capture post_next_year %}{{ post.next.date | date: "%Y" }}{% endcapture -%}
  {%- if forloop.first or post_next_year != post_year -%}
  <div class="category-name">
    <h2>{{ post_year }}</h2>
  {%- endif %}
    <div class="post_title">
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a>
      <span class="date">{{ post.date | date: "%-d %b, %Y" }}</span>
    </div>
  {%- if forloop.last or post_previous_year != post_year %}
  </div>
  {%- endif %}
  {% endfor %}


</div>
